<!-- content.fiel_afficha[].getValue()|first.value --> 

{% if content.field_afficha == true %}
    <div class="photo_terrain">
        {{content.field_photo_terrain}}
    </div>
{% endif %}
<div class="prix">
    {{content.field_prix}}
</div>
<div class="description">
    {{content.field_description}}
</div>
<br />
