.main-header{
    height:100px;
    background: #464646;
    border-bottom: 1px solid #000;

}


.main-navigation{
    padding-top: 31px;
    
    li{
        float: left;
    }

    a{
        display: block;
        color:#fff;
        text-decoration: none;
        padding: 0 10px;
        
        &:hover{
            text-decoration: underline;
        }
    }
    h3{
        font-family: 'Permanent Marker', cursive;
        color: #FF4500;
        margin-top: -16px;
        font-size: 300%;
        padding: 0;
        margin-left: -40px;
    }
}