{% if page.footer %}
    <footer class="main-footer" role="contentinfo">
        <div class="row">
            <div class="small-4 large-4 columns">
                <h4>Site Web</h4>
                <ul>
                    <li><a href="#">Accueil</a></li>
                    <li><a href="/monterrain/user">Mon Compte</a></li>
                    <li><a href="/monterrain/search/content">Rechercher un terrain</a></li>
                    <li><a href="/monterrain/search/user">Rechercher une agence</a></li>
                </ul>
            </div>
            <div class="small-4 large-4 columns">
                <h4>Réseaux Sociaux</h4>
               <ul>
                   <li><a href="#"><i class="fi-social-facebook"></i> Facebook</a></li>
                   <li><a href="#"><i class="fi-social-twitter"></i> Twitter</a></li>
                   <li><a href="#"><i class="fi-social-instagram"></i> Instagram</a></li>
               </ul>
            </div>
            <div class="small-4 large-4 columns">
                <h4>Aide</h4>
                <ul>
                    <li><a href="/monterrain/user/login">Login</a></li>
                    <li><a href="/monterrain/faq">F.A.Q.</a></li>
                    <li><a href="/monterrain/files/Data-test-CGU.pdf">Condition d'utilisation</a></li>
                    <li><a href="/monterrain/contact/feedback">Contact</a></li>
                </ul>
            </div>
        </div>
    </footer>
{% endif %}


