<header class="main-header" role="banner">
    <div class="container">
        {{ page.header }}
            <div class="main-navigation row">
                <h3 class='large-6 columns'><a href="/monterrain/node">MonTerrain.be</a></h3>    
                <span class="large-6 columns">{{page.main_navigation}}</span>
            </div>
    </div>
</header>